@media only screen and (max-width: 414px) {
    
	    .left-pad
	{
		padding-left: 0px!important;
		padding-right:unset!important;
	}
	.right-pad
	{
		padding-right:0px!important;
		padding-left: unset!important;
	}
	.pad
	{
		padding-left: unset!important;
		padding-right:unset!important;
	}

	.margin
	{
		margin-top: 200px;
	}
		.block1
	{
		text-align: center;
		padding-bottom:0px;
		padding-top:0px;
	}

		#mySize
	{
		
		margin-bottom: 1px;
		top: 100px;
		padding-left: unset;
		

		
	}
	#mySize div div
	{
		width: 100%;

	}

	#mySize button 
	{
		width: 100%!important;
		border-radius: unset;
		
		background-color: #ff5d00;
		color: #fff;
	}

	#mySize select
	{
		width: 100%!important;
		border-radius: unset;
		margin-bottom: 5px;
		
	}


		.gif img
	{
		padding-left:0px;
		
		position: relative;
		padding-right: 0px;

	}





}