.header1
{
	background-color: #002f41;
	color: #fff;
	font-size: 20px;
	padding-bottom: 35px;
	padding-top: 25px;
}
.header2
{
	background-color: #091e32;
	color: #fff;
	font-size: 20px;
	padding-bottom: 35px;
	padding-top: 45px;
	display: block;
}
a:hover
{
	text-decoration: none!important;
}
*
{
	margin: 0;
	padding:0;
}

.one
{
	
}

.slider
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: auto;
	min-height: 540px;
	-webkit-animation: slide 40s infinite;
	        animation: slide 40s infinite;
}

@-webkit-keyframes slide
{
	0%	
		{
			background-image: url(../images/motherboard-3.jpg);
		}
	20%
		{
			background-image: url(../images/motherboard-3.jpg);
		}	
	20.01%
		{
			background-image: url(../images/motherboard-1.jpg);
		}	
	40%
		{
			background-image: url(../images/motherboard-1.jpg);
		}	
	40.01%
		{
			background-image: url(../images/motherboard-2.jpg);
		}
	60%
		{
			background-image: url(../images/motherboard-2.jpg);
		}	
	60.01%
		{
			background-image: url(../images/motherboard-1.jpg);
		}
	80%
		{
			background-image: url(../images/motherboard-1.jpg);
		}	
	80.01%
		{
			background-image: url(../images/touch-screen-replacement.jpg);
		}
	100%
		{
			background-image: url(../images/touch-screen-replacement.jpg);
		}	
}

@keyframes slide
{
	0%	
		{
			background-image: url(../images/motherboard-3.jpg);
		}
	20%
		{
			background-image: url(../images/motherboard-3.jpg);
		}	
	20.01%
		{
			background-image: url(../images/motherboard-1.jpg);
		}	
	40%
		{
			background-image: url(../images/motherboard-1.jpg);
		}	
	40.01%
		{
			background-image: url(../images/motherboard-2.jpg);
		}
	60%
		{
			background-image: url(../images/motherboard-2.jpg);
		}	
	60.01%
		{
			background-image: url(../images/motherboard-1.jpg);
		}
	80%
		{
			background-image: url(../images/motherboard-1.jpg);
		}	
	80.01%
		{
			background-image: url(../images/touch-screen-replacement.jpg);
		}
	100%
		{
			background-image: url(../images/touch-screen-replacement.jpg);
		}	
}

.load
{
	-webkit-animation: slide 2s;
	        animation: slide 2s;
}

.content
{
	width: auto;
	min-height: 540px;
	background-color: rgba(0,0,0,0.5);
}

#mySize
{
	
	margin-bottom: 1px;
	top: 80px;
	position: relative;
	padding-left:75px;
	z-index: 10;
}


#mySize div div button 
{
	width: 114px;
	border-radius: unset;
	background-color: #ff5d00;
	color: #fff;
}

#mySize div div button:hover 
{
	width: 114px;
	border-radius: unset;
	background-color: #ff5d00;
	color: #fff;
}

#mySize div div select
{
	width: 165px;
	margin-right: 5px;
	border-radius: unset;
}

.gif
{
	top: 180px!important;
	position: relative;
}

.gif img
{
	padding-left:75px;
	
	padding-right: 75px;

}

.pad
{
	padding-left:75px;
	top: 180px;
	
	position: relative;
	padding-right: 75px;

}
.left-pad
{
	padding-left: 15px!important;
	padding-right:unset!important;
	 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;

}
.left-pad:hover
{
	-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 z-index: 999;
}


.right-pad
{
	padding-right:15px!important;
	padding-left: unset!important;
	 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
}

.right-pad:hover
{
		-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 z-index: 999;
}


.no-pad
{
	padding-left:unset!important;
	padding-right: unset!important;
		 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 

	
}

.no-pad:hover
{
	-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 z-index: 999;
}



.block
{
	text-align: center;
	background-color: #5ab840;
	padding-bottom:50px;
	padding-top:50px;
 

    
}
.b2
{
	background-color: #a1368e;
}

.b3
{
	background-color: #25989c;
}

.block:hover {
	 

}

.block1
{
	text-align: center;
	padding-bottom:80px;
	padding-top:150px;
}

.icon1
{
	text-align: center;
	margin: auto;
	font-size: 50px;
	color: #000;
}

.icon2
{
	text-align: center;
	margin: auto;
	font-size: 20px;
	color: #fff;
	padding-top:20px;
}


path
{
	fill:#fff;
}

.text
{
	color: #fff;
	padding-top:20px;
}

.icon1 p
{
	text-align: center;
	margin: auto;
	font-size: 20px;
	color: #fff;
}



.icon
{
	text-align: center;
	margin: auto;
	color: #fff;
}

.icon svg
{
	width: 60px;
	height: 60px;
	margin-bottom:30px;
	color: #fff;
}

.two
{

	
	min-height: 300px;
	
	background-image: url(../images/motherboard-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: auto;
	text-align: center;

}

.content1
{
	width: auto;
	min-height: 300px;
	background-color: rgba(5, 68, 111,0.5);
}

footer
{
	background-color: #1d2c3e;
	padding-top:20px!important;
	padding-bottom:40px!important;
}

.img-loqo 
{
	display: block;
	width: 100%;
	height: auto;
	padding-top: 20px;
}

.img-loqo img
{
	width: 100%;
	height: auto;
}